* {
  box-sizing: border-box;
}

html {
  font-family: "Lucida Sans", sans-serif;
}
.header > h1{
    text-align: center;
    font-size: 70px;
    
}


.colu1{
     margin-right: 10px;
   margin-bottom: 10px;
   margin-left: 10px;
    background-color: #9933cc;
padding: 8px;
color: #ffffff;
border: 1px solid black;
text-align: center;
  font-size: 14px;
   box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.colu2>a{
    color: black;
    border: 1px solid black;
    
}
.colu1>a{
    color: yellow;
    border: 1px solid black;
  

}
.colu3>a{
    color: black;
    border: 1px solid black;
  

}



.colu2 {
   margin-right: 10px;
    margin-bottom: 10px;
 text-align: center;
  font-size: 14px;
  border: 1px solid black;
  background-color: #33b5e5;
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}


.colu3 {
  background-color:#66ff33;

  color: #ffffff;
  text-align: center;
  font-size: 14px;
  border: 1px solid black;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}


.row{
    width: 100%;
   
}
@media(min-width:992px){.col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,
                         .col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12{
                             float:left;
                          
                         }
                         .col-lg-1{
                             width: 8.33%;
                            
                         }
                         .col-lg-2{
                             width: 16.66%;
                            
                         }.col-lg-3{
                             width: 25%;
                            
                         }.col-lg-4{
                             width: 33%;
                            
                         }.col-lg-5{
                             width: 41.66%;
                            
                         }.col-lg-6{
                             width: 50%;
                            
                         }.col-lg-7{
                             width: 58.33%;
                            
                         }.col-lg-8{
                             width: 66.66%;
                            
                         }.col-lg-9{
                             width: 74.99%;
                            
                         }.col-lg-10{
                             width: 83.33%;
                            
                         }.col-lg-11{
                             width: 91.66%;
                            
                         }.col-lg-12{
                             width: 100%;
                            
                         }
}

@media(min-width:768px) and (max-width:991px) {.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,
                         .col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12{
                             float:left;
                            
                         }
                         .col-md-1{
                             width: 8.33%;
                            
                         }
                         .col-md-2{
                             width: 16.66%;
                            
                         }.col-md-3{
                             width: 25%;
                            
                         }.col-md-4{
                             width: 33%;
                            
                         }.col-md-5{
                             width: 41.66%;
                            
                         }.col-md-6{
                             width: 50%;
                            
                         }.col-md-7{
                             width: 58.33%;
                            
                         }.col-md-8{
                             width: 66.66%;
                            
                         }.col-md-9{
                             width: 74.99%;
                            
                         }.col-md-10{
                             width: 83.33%;
                            
                         }.col-md-11{
                             width: 91.66%;
                            
                         }.col-md-12{
                             width: 100%;
                            
                         }
} 
